@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root{
    --main_col : #871F42;
    --partner_col : #ED3975;
    --sub_col : #E5E4E5;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--main_col);
    color: white;
    font-family: Poppins;
    letter-spacing: 1px;
    margin: 2px 15vw 2px 15vw;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px gray;
    text-shadow: 1px 1px 2px white;
}

.input-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 15vw 2px 15vw;
    padding: 50px;
    background-color: var(--sub_col);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    border-radius: 20px;
    font-family: Roboto;
}

.time-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    padding: 20px 0px 20px 0px;
}

.input-bar input {
    padding: 1rem;
    outline: 0;
    border-color: transparent;
    margin: 1px;
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
}
.input-bar input[type='time']{
    width: 90%;
}


.input-bar input:hover, .input-bar input:focus {
    border-color: black;
}

.result-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 60, 74, 0.116);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    border-radius: 20px;
    font-family: Roboto;
    margin: 20px 15vw 20px 15vw;
}
.result-heading {
    width: 100%;
    background-color: var(--main_col);
    color: white;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    margin-bottom: 20px;
}

.error-box {
    display: none;
    position: fixed;
    top: 2rem;
    right: 50%;
    transform: translateX(50%);
    max-width: 300px;
    background-color: rgb(255, 202, 202);
    border-radius: 20px;
    padding: 20px;
    color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Poppins;
}

.error-box p {
    margin: 0;
}

.error-box .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
.result-grid{
    display: grid;
    width: 90%;
    text-align: center;
    grid-template-columns: auto auto;
    margin: 5px;
    font-size: medium;
}

.result-time-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.result-grid > div {
    background-color: white;
    padding: 1rem;
    margin: 1px;
}
.result-start, .result-time-grid {
    border-radius: 20px 0px 0px 20px;
    color: var(--partner_col);
    font-weight: bolder;
}
.result-rent {
    border-radius: 0px 20px 20px 0px;
    color: var(--main_col);
    font-weight: bolder;
}
.final-result{
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    padding: 10px;
}
.buzy-time, .total-profit {
    text-align: center;
    color: var(--partner_col);
    font-weight: bolder;
    font-family: poppins;
    margin: 10px;
    border-radius: 20px;
    background-color: var(--main_col);
    padding: 1rem;
}
.buzy-time span, .total-profit span {
    font-size: 1.5rem;
    color: white;
}

#add-btn, #calculate-btn {
    font-size: 1rem;
    background-color: var(--main_col);
    color: white;
    padding: 0.75rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px gray;
    transition-duration: 0.3s;
}

#add-btn:hover, #calculate-btn:hover{
    background-color: var(--partner_col);
}

#calculate-btn:active, #add-btn:active {
    opacity: 0.8;
    box-shadow: -1px -2px 5px gray;
}

#back-splash-1{
    position: fixed;
    border-radius: 100%;
    top: 20%;
    right: 20%;
    height: 20vh;
    width: 20vh;
    font-weight: 10vh;
    background-color: var(--partner_col);
    filter: blur(160px);
    pointer-events: none;
}
#back-splash-2{
    position: fixed;
    border-radius: 100%;
    bottom: 20%;
    left: 20%;
    height: 20vh;
    width: 20vh;
    font-weight: 10vh;
    background-color: var(--partner_col);
    filter: blur(160px);
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .nav-bar{
        margin: 2px;
    }

    .input-bar, .result-bar {
        margin: 20px 2px 20px 2px;
    }

    .time-grid {
        grid-template-columns: auto;
    }
    .input-bar input[name='start']{
        border-radius: 20px 20px 0px 0px;
    }
    .input-bar input[name='end']{
        border-radius: 0px 0px 20px 20px;
    }

    .result-grid {
        grid-template-columns: auto;
    }

    .result-start, .result-time-grid{
        border-radius: 20px 20px 0px 0px;
    }
    .result-rent {
        border-radius: 0px 0px 20px 20px;
    }

    .final-result{
        grid-template-columns: auto;
    }



}